
.home-container {
  max-width: 100%;

   padding: 0 16px;
  margin: 0 auto;
 
 
}


.navbar {
  display: flex;

  justify-content: space-between;
   background-color: white;

 
  padding: 16px 0;
 
}


.navbar-left {
  display: flex;

  gap: 12px;
  align-items: center;
  
}


.avatar {
  width: 36px;


   border-radius: 50%;

    border: 1px white solid;
  height: 36px;
 
  object-fit: cover;
 
}


.navbar{
 align-items: center;
border-bottom:  white 1px solid;
  width: 100%;
}


.avatar.initials {
  background: #ececec;
  color: #313030;
 
}


.signin-btn,
.logout-btn,
.details-btn {
  padding: 8px 12px;

   font-size: 15px;
  border-radius: 7px;
 
 
}


.logout-btn {
  background-color: #f44336;

   border: none;
  color: white;
 
}



.heading {
  margin-bottom: 9px;
  font-size: 25px;
}


.details-btn-container {
  margin-top: 17px;
}


.avatar.initials{
   font-weight: 700;

    border: white 1px solid;
  display: grid;
  place-items: center;
 
}


.details-btn {
  background-color: #3f51b5;

   border: none;
  color: white;
 
}

.signin-btn {
  background-color: #4caf50;
  color: white;
  border: none;
}