.navbar {
  display: flex;

padding: 13px 60px; 
  align-items: center;
 
 
 
}
.tootoo{
  visibility: hidden;

 background-color: #333;

 border-radius: 7px;
  opacity: 0;
  width: max-content;
 
  color: white;
  text-align: center;
  
}

.logo-text {
  font-weight: 700;

  font-size: 1.5rem;

  margin-left: 10px; 
  text-decoration: none;


  color: black;
  
  
}

.navbar{

     justify-content: space-between;
 
  border-bottom: 1px solid #090101;
 
  background-color: white;
  margin-top: 10px;

}
.nav-links {
  flex: 1;

   gap: 28px; 


  display: flex;
  justify-content: center;
 
}

.nav-link {
  text-decoration: none;
  
  font-weight: 600;
  color:black;
 
}


.nav-link.active {text-decoration: underline;
  font-weight: 700;
  
  color: #0a2152;
}



.navbar-right {
  flex: 1;
  display: flex;

  align-items: center;
   gap: 15px;
  justify-content: flex-end;
  
 
  padding-right: 10px; 
}




.auth-buttons {
  display: flex;
  gap: 8px;
}


.avatar {
  width: 45px;

   border-radius: 50%;
 
  height: 45px;

   object-fit: cover;
 

  
}


.avatar.initials {
  display: grid;

  background: #e4e4e4;
  place-items: center;
  


  color: #333;
  font-weight: 700;
}

.wrappy {
  position: relative;
  display: inline-block;
}

.tootoo {
  
  padding: 4px 8px;
  position: absolute;
  bottom: -35px;
  left: 50%;
 
  white-space: nowrap;
  
  font-size: 0.85rem;
}


.logout-btn
{
  padding: 6px 10px;
  border-radius: 6px;
 
  background-color: #8e1b1b;
  border: none;
 
}


.login-btn,
.signup-btn {
  padding: 6px 10px;
  border-radius: 6px;
 
  background-color: #46b532;
  border: none;
 
}



.signup-btn {
  margin-left: 8px;
}

.wrappy {
  position: relative;
  display: inline-block;
}

.tootoo {
  visibility: hidden;
  opacity: 0;
  position: absolute;
 
  padding: 4px 8px;
 
 
  z-index: 100;
}


.wrappy:hover .tootoo {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 576px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
  }
  .navbar-left{
    justify-content: center;
  }
  .nav-links {
    justify-content: center;
    gap: 16px;
    margin-top: 10px;
    width: 100%;
    overflow-x: auto;
  }
  
  .navbar-right {
    justify-content: center;
    margin-top: 10px;
    width: 100%;
  }
}


.navbar-left {
  flex: 1;

  align-items: center;
  display: flex;
  
}


.user-controls {
  display: flex;

   gap: 10px;
  align-items: center;
 
}

.tootoo{
 bottom: -28px; 
  left: 50%;


   color: white;
  text-align: center;
  transform: translateX(-50%);

 border-radius: 4px;
  font-size: 13px;
  white-space: nowrap;
  background-color: #333;
 
}