.skills-cards-container {
  display: grid;

   gap: 20px;
 
}

.skill-card {
  border: 1px solid #d9d2d2;

  text-align: center;
  border-radius: 10px;

  padding: 21px;
height: auto;
  background-color: white;
  
  
}

.view-details-btn {
 color: white;

  padding: 10px 15px;
  border: none;
 
}

.skill-image {
  width: 100%;
   object-fit: cover;
  height: 280px;
 
  border-radius: 11px;
}

.skill-name {
  font-size: 18px;

   margin-top: 12px;
  font-weight: 700;
 
  color: #494848;
}

.skills-cards-container{
 grid-template-columns: repeat(3, 1fr); 
 
  padding: 20px;
}





.rating-value {
  font-size: 14px;
  color: #5d5a5a;
}

.skill-price {
  font-size: 16px;

   margin: 10px 0;

   
  font-weight: bold;
  color: #3b3939;
 
}

.view-details-btn {
  background-color: #4f60c1;
 
  border-radius: 8px;
 
  font-size: 14px;
 
}


.rating {
  display: flex;

  gap: 5px;
  align-items: center;
  justify-content: center;
  
  margin: 8px 0;
}